@charset "UTF-8";
/* Global */
body {
  background-image: linear-gradient(to right bottom, #051937, #002762, #00358f, #0041bd, #124beb);
  height: 100vh;
  color: white;
  font-family: 'Roboto', sans-serif;
  /* flex */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
p {
  color: #fff;
}
#iShow {
  display: block;
  background-color: cyan;
  content: '';
}
/* 16k Plus */
/*
@media (min-width: 15361px){
	#iShow {
        &::after {
            content: '16k +: @media (min-width: 15361px)';
        }
    }
}
*/
/* 16k */
/*
@media (min-width: 8191px) and (max-width: 15360px){
	#iShow {
        font-size: 500%;
        &::after {
            content: '16k: @media (min-width: 8191px) and (max-width: 15360px)';
        }
    }
}
*/
/* 8k 2 */
/*
@media (min-width: 7681px) and (max-width: 8192px){
	#iShow {
        font-size: 400%;
        &::after {
            content: '8k: @media (min-width: 7681px) and (max-width: 8192px)';
        }
    }
}
*/
/* 8k */
/*
@media (min-width: 5121px) and (max-width: 7680px){
	#iShow {
        font-size: 300%;
        &::after {
            content: '5k: @media (min-width: 5121px) and (max-width: 7680px)';
        }
    }
}
*/
/* 5k */
/*
@media (min-width: 4097px) and (max-width: 5120px){
	#iShow {
        font-size: 300%;
        &::after {
            content: '4k2: @media (min-width: 4097px) and (max-width: 5120px)';
        }
    }
}
*/
/* 4k 2 */
/*
@media (min-width: 3841px) and (max-width: 4096px){
	#iShow {
        font-size: 300%;
        &::after {
            content: '4k: @media (min-width: 3841px) and (max-width: 4096px)';
        }
    }
}
*/
/* 4k */
/*
@media (min-width: 2561px) and (max-width: 3840px){
	#iShow {
        font-size: 200%;
        &::after {
            content: '2560p: @media (min-width: 2561px) and (max-width: 3840px)';
        }
    }
}
*/
/* 2560 */
/*
@media (min-width: 1921px) and (max-width: 2560px){
	#iShow {

        &::after {
            content: '1920: @media (min-width: 1921px) and (max-width: 2560px)';
        }
    }
}
*/
/* 1920 */
/*
@media (min-width: 1601px) and (max-width: 1920px){
	#iShow {

        &::after {
            content: '1600: @media (min-width: 1601px) and (max-width: 1920px)';
        }
    }
}
*/
/* 1600 */
/*
@media (min-width: 1441px) and (max-width: 1600px){
	#iShow {

        &::after {
            content: '1600: @media (min-width: 1441px) and (max-width: 1600px)';
        }
    }
}
*/
/* 1440 */
/*
@media (min-width: 1281px) and (max-width: 1440px){
	#iShow {

        &::after {
            content: '1440p: @media (min-width: 1281px) and (max-width: 1440px)';
        }
    }
}
*/
/* 1280 */
/*
@media (min-width: 1101px) and (max-width: 1280px){
	#iShow {

        &::after {
            content: '1280: @media (min-width: 1101px) and (max-width: 1280px)';
        }
    }
}
*/
/* Elementor Desktop (1024 - >px) */
@media (min-width: 1024px) and (max-width: 1100px) {
  #iShow::after {
    content: 'Elementor Desktop (1024 - 1100px): @media (min-width: 1025px) and (max-width: 1100px)';
  }
}
/* Beaver Builder Desktop (992 - >px) */
/*
@media (min-width: 992px) and (max-width: 1100px){
	#iShow {

        &::after {
            content: 'Beaver Builder Desktop (992 - 1100px): @media (min-width: 993px)';
        }
    }
}
*/
/* Elementor Tablet (768 - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  #iShow::after {
    content: 'Elementor Tablet (768 - 1023px): @media (min-width: 768px) and (max-width: 1023px)';
  }
}
/* Beaver Builder Tablet (768 - 991px) */
/*
@media (min-width: 768px) and (max-width: 991px){
	#iShow {

        &::after {
            content: 'BB tablet (768 - 991px): @media (min-width: 768px) and (max-width: 991px)';
        }
    }
}
*/
/* lowest, Beaver Builder Mobile (1 - 767px), Elementor Mobile (1 - 767px) */
@media (max-width: 767px) {
  #iShow::after {
    content: 'lowest, Beaver Builder Mobile (1 - 767px), Elementor Mobile (1 - 767px): @media (max-width: 767px)';
  }
}
